@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html, body{
    font-family: 'Poppins', sans-serif !important;
    height: 100%;
}

.horizontal-nav{
    overflow-x: auto;
    white-space: nowrap;
}