{% extends "baseDashboard.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="main-container mb-2" data-aos="fade-left">
    <p class="text-center h2">{{subtitle}}</p>
    <div class="container">
        <form method="post" class="row g-3 my-3">
            {% csrf_token %}
            
            <div class="col-lg-6 mb-3">
                <label class="form-label">Fecha de el reporte:</label>
                {% render_field form.fechaReporte class="form-control" placeholder="Ingresa una fecha" id="datepicker" %}
            </div>

            <div class="col-lg-6 mb-3">
                <label class="form-label">Nombre:</label>
                {% render_field form.nombreReporte class="form-control" placeholder="Ingresa el nombre de la persona que se le atiende el reporte" %}
            </div>

            <div class="col-lg-12 mb-3">
                <label class="form-label">Notificar reporte a:</label>
                {% render_field form.notificarReporte class="form-control" placeholder="Nombre de la persona que recibirá el reporte" %}
            </div>

            <div class="col-lg-12 mb-3">
                <label class="form-label">Descripción/razones del reporte:</label>
                {% render_field form.descripcionReporte class="form-control" placeholder="Ingresa la razón de el reporte" %}
            </div>


            <div class="col-lg-12 mt-4 text-center">
                <button type="submit" class="btn btn-primary">Guardar registro</button>
            </div>
        
        </form>
    </div>
</div>
{% endblock content %}


{% block scripts %}
  <script>    
    $('#datepicker').daterangepicker({
        singleDatePicker: true,
        locale: {
            format: 'DD/MMM/YYYY',
            daysOfWeek: [
            "Do",
            "Lu",
            "Mar",
            "Mie",
            "Jue",
            "Vie",
            "Sab"
        ],
        monthNames: [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
        ],
        }
    });
  </script>
{% endblock scripts %}